{% extends 'base_card.html' %}
{% block title %}Commands List{% endblock %}

{% block top_content %}
    <h1>Command: <strong>{{ object.name }}</strong></h1>
{% endblock %}

{% block card_content %}
    <p class="card-text">
        {{ object.description }}
    </p>
    <p class="card-text">
        <strong>Author:</strong> {{ object.author.username }}
    </p>
    <p class="card-text">
        <strong>Command:</strong> {{ object.command }}
    </p>
    <p class="card-text">
        <strong>Operating System:</strong> {{ object.os|default:"Not provided" }}
    </p>

    <p class="card-text">
        <strong>Syntax:</strong> {{ object.syntax|default:"Not provided" }}
    </p>

    <p class="card-text">
        <strong>Parameters:</strong>
    </p>

    {% include "includes/parameter_list.html" with parameters=object.parameters.all %}

    {% if object.examples %}
        <p class="card-text">
            <strong>Examples:</strong>
        </p>
        <ul class="list">
            {% for exampl in object.examples %}
                <li>{{ exampl }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if object.source %}
        <p class="card-text">
            <a href={{ object.source }}>{{ object.source }}</a>
        </p>
    {% endif %}
{% endblock %}

{% block bottom_content %}
    {% if object.author.id == user.id %}
        <a href="{% url 'command:update' object.id %}" class="btn btn-outline-primary">Update command</a>
        <a href="{% url 'command:delete' object.id %}" class="btn btn-outline-danger">Delete command</a>
    {% endif %}
{% endblock %}