{% extends 'base_card.html' %}

{% block title %}Computer detail{% endblock %}

{% block top_content %}
    <h1> {{ object.nickname|default:object.name }} {{ object.channel_name|yesno:"Online,Offline" }}</h1>
{% endblock %}
{% block card_content %}
    <p class="card-text">
        <strong>Unique name:</strong> {{ object.name }}
    </p>
    <p class="card-text">
        <strong>Unique name:</strong> {{ object.name }}
    </p>
    <p class="card-text">
        <strong>Users who own the computer</strong>
    </p>
    <ul class="list">
        {% for user in object.users %}
            <li>{{ user.username }}</li>
        {% endfor %}
    </ul>
{% endblock %}