{% extends 'base_card.html' %}

{% block title %}Computer detail{% endblock %}

{% block top_content %}
    <h1> {{ object.nickname|default:object.name }} {{ object.channel_name|yesno:"Online,Offline" }}</h1>
{% endblock %}
{% block card_content %}
    <p class="card-text">
        <strong>Unique name:</strong> {{ object.name }}
    </p>
    <p class="card-text">
        <strong>Nickname name:</strong> {{ object.nickname|default:"Not provided" }}
    </p>
    <p class="card-text">
        <strong>Users who own the computer</strong>
    </p>
    <ul class="list">
        {% for user in object.users.all %}
            <li>{{ user.username }}</li>
        {% endfor %}
    </ul>
{% endblock %}

{% block bottom_content %}
    {% if user in object.users.all %}
        <a href="{% url 'computer:update' object.name %}" class="btn btn-outline-primary">Update computer</a>
        <a href="{% url 'computer:delete' object.name %}" class="btn btn-outline-danger">Delete computer</a>
        <form method="post" action="{% url 'computer:toggle' object.name %}" class="mt-3">
            {% csrf_token %}
            <div class="form-check form-switch">
                <input type="checkbox"
                       class="form-check-input"
                       id="status-toggle"
                       value="On"
                       name="status"
                       {% if is_monitoring %}checked{% endif %}>
                <label class="form-check-label fw-bold" for="status-toggle">monitoring</label>
            </div>

            <div class="row g-3">
                <div class="col-md-4">
                    <label class="form-label">Every</label>
                    <input type="number"
                           class="form-control"
                           name="every"
                           value="5"
                           min="1"
                           required>
                </div>

                <div class="col-md-5">
                    <label class="form-label">Period</label>
                    <select class="form-select" name="period" required>
                        <option value="MINUTES">Minutes</option>
                        <option value="HOURS">Hours</option>
                        <option value="DAYS">Days</option>
                        <option value="SECONDS">Seconds</option>
                    </select>
                </div>
            </div>
        
            <button type="submit" class="btn btn-success mt-2">
                <i class="bi bi-check-lg"></i> Save Status
            </button>
        </form>
    {% endif %}
{% endblock %}