<div
        {% if message.get_sender.username == user.username %}
            class="mb-2 p-2 border border-secondary text-dark ms-auto message my_message"
        {% else %}
            class="mb-2 p-2 border border-secondary text-dark me-auto message not_my_message"
        {% endif %}>
    {% if message.get_sender.username == user.username %}
        <strong>You</strong>
    {% else %}
        <strong>{{ message.get_sender.username }}</strong>
    {% endif %}
    : {{ message.text }}
    <br>
    <small class="text-muted">{{ message.timestamp }}</small>
</div>