{% extends 'base.html' %}
{% load static %}

{% block title %}Chat{% endblock %}

{% block content %}
    <div class="container-fluid text-center mx-0">
        <div class="row">
            <div class="col-sm-4">
                {% include "includes/_computer_list.html" with url='chat:chat_computers' %}
            </div>
            <div class="col-sm-7">
                {% block chat %}
                    <h3>Chose computer</h3>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/create_message.js' %}"></script>
    <script src="{% static 'js/create_chat_socket.js' %}"></script>
    <script>
        my_id = {{ user.id }};
        user_type = "{{ User }}";
    </script>
{% endblock %}