{% extends 'base.html' %}
{% load static %}

{% block title %}Chat{% endblock %}

{% block content %}
    <div class="container-fluid text-center mx-0">
        <div class="row">
            <div class="col-sm-4">
                {% if computers %}
                    <h4 class="mb-3">Computers <a href="{% url 'user:add_computer' %}" class="btn btn-outline-primary">+</a></h4>
                    <ul class="list">
                        {% for computer in computers %}
                            <li class="mb-2">
                                <a href="{% url 'chat:chat_computers' computer.name %}"
                                   class="text-decoration-none">{{ computer.nickname }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="col-sm-7">
                {% block chat %}
                    <h3>Chose computer</h3>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/create_message.js' %}"></script>
    <script src="{% static 'js/create_chat_socket.js' %}"></script>
    <script>
        my_id = {{ user.id }};
        user_type = "{{ User }}";
    </script>
{% endblock %}