{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h2>Remote control code</h2>
    <a href="/static/program/ProgramRemoteControl.zip" download>Download zip</a>
    <h2>Instruction</h2>
    <ol>
        <li>
            <p>Download and unzip file</p>
        </li>
        <li>
            <p>Run the file</p>
        </li>
        <li>
            <p>Wait 5 seconds, and the file .env will be created.</p>
            <p class="text-white bg-dark">.env</p>
        </li>
        <li>
            <p>Open it, and you see computer name and generated password</p>
        </li>
    </ol>
{% endblock %}