{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h2>Remote control code</h2>
    <a href="/static/program/Remote_Control.zip" download>Download zip</a>
    <h2>Instruction</h2>
    <ol>
        <li>
            <p>Download and unzip file</p>
        </li>
        <li>
            <p>Run the following command in installed directory to install all needed packages:</p>
            <p class="text-white bg-dark">pip install -r requirements.txt</p>
        </li>
        <li>
            <p>Run file <strong>handlers.py</strong></p>
        </li>
    </ol>
{% endblock %}